.product-box{
    /* padding-top: 30px; */
}
.product-box .product-item{
    transition: 0.3s;
    position: relative;
    cursor: pointer;
    margin: 5px;
    border-radius: 15px;
    text-align: center;
    overflow: hidden;
    padding-bottom: 20px;
  }
.product-box .product-item:hover{
    box-shadow: 0 0 9px #0000003b;
  }
.product-box .product-item .product_thumb{
} 
.product-box .product-item .product_thumb a img{
    max-width: 100%;
} 
.product-box .product-item .product_thumb .primary_img img{
    display: block;
    opacity: 1;
    visibility: visible;
    pointer-events: none;
    transition: opacity 0.3s ease, visibility 0s linear 0.3s;
}
.product-box .product-item .label_product {
    position: absolute;
    top: 5px;
    right: 0;
    padding: 3px 5px;
    text-align: center;
    background: var(--primary);
    border-radius: 10px;
}
.product-box .product-item .label_product span {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    display: block;
}
.action_links{
    display: none;
}
.product-box .product-item .product_content {
    padding: 5px 5px;
    background-color: #fff;
}
.product-box .product-item .product_content h4 {
    line-height: 20px;
    display: block;
    font-size: 17px;
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: 0;
    
}
.product-box .product-item .product_content h4 a{
    text-decoration: none;
    color: var(--black);
}
.product-box .product-item .product_content h4 a:hover {
    color: #fdb813;
}
.product-box .product-item .product_content .price_box {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}
.product-box .product-item .product_content .price_box span.current_price {
    color: #f30;
    font-weight: 600;
    font-size: 17px;
}
.product-box .product-item .product_content .price_box span.old_price {
    text-decoration: line-through;
    font-weight: 400;
    font-size: 14px;
    margin-left: 10px;
}

#clockdiv {
    font-family: GalaxieCondensedMedium,Arial,sans-serif;
    color: white;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 20px;
    text-shadow: 2px 2px 4px #732d27;
    margin-right: 10px;
}
#clockdiv > div {
    border-radius: 3px;
    display: inline-block;
}
#clockdiv div > span {
    padding: 0 10px;
    border-radius: 3px;
    background: #e73a2a;
    display: inline-block;
}