.product-content .product-title{
    font-weight: bold;
    font-family: var(--semi);
    color: rgb(7, 120, 155);
}
.coupon-tag{
    padding: 15px;
    display: flex;
    align-items: center;
    width: 250px;
    background: linear-gradient(45deg, #120d5a, #010138);
    border-radius: 50px;
    justify-content: space-around;
}
.badge-box .badge{
    padding: 3px;
}
.whatsapp_gradient{
    background: linear-gradient(45deg, green, rgb(1, 82, 1));
    display: inline-block;
    padding: 10px;
    border-radius: 50px;
    color: white;
}
.color_box{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.color_box span{
    padding-right: 30px;
}
.color_box .colors{
    display: flex;
    align-items: center;
}
.color_box .colors .color{
    height: 30px;
    width: 30px;
    padding: 10px;
    margin: 10px;
    border: 2px solid white;
    outline: 1px solid rgba(128, 128, 128, 0.473);
    box-shadow: 0 0 5px 5px rgba(128, 128, 128, 0.568);
    cursor: pointer;
}
.qty-btn-box{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    padding: 10px;
}
.qty-btn-box .qty-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.qty-btn-box .qty-box .btn{
    width: 60px;
}
.qty-btn-box .qty-box .qty{
    width: 60px;
}
#myTabs li a.active{
    background-color: rgb(250, 142, 0) !important;
    color: white;
    font-family: var(--semi);
    border: none;
    
}
#myTabs li a{
    padding: 10px 20px;
}
#myTabs li {
    padding: 10px;
}
.bg-sky{
    padding: 10px;  
    background: rgb(232, 246, 252);
    color: blue;
}
.related .product{
    display: flex;
    align-items: start;
}
.related .product .content{
    margin-left: 10px;
}
.related .product .content .btn *{
    /* font-family: var(--semi); */
    font-weight: bold;
    font-size: var(--font-14);
}
